.calculator {
  width: 300px;
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
}

.calculator__keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.key__operator {
  background-color: #ff9500;
  color: #fff;
}

.other__keys{
  background-color: #e0e0e0;
  color: #000;
  display: grid;
  grid-template-columns: repeat(2, 3fr, 1fr);
  gap: 10px;
}
.numbers{
  background-color: #d4d4d2;
  color: #000;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}